@charset "UTF-8";

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   max-width: 1024px;
   margin: 0 auto;
}
body {
   word-wrap: break-word;
   overflow-wrap: break-word;
}

header {
   background-color: black;
   width: 100%;
   height: 70px;
   display: flex;
   align-items: center;
}

.logo a {
   text-decoration: none;
   padding-left: 40px;
   color: white;
}

header nav {
   display: flex;
   align-items: center;
   margin-left: 0;
   padding: 10px;
   
}

nav a {
   color: white;
   text-decoration: none;
   padding: 10px;
}

.primeira-imagem {
   background-image: url("imagens/faxada.jpg");
   width: 100%;
   height: 89vh;
}

.primeira-imagem h1 {
   color: #2c1e01;
   text-align: center;
   font-family: 'Fahkwang', sans-serif;
   font-size: 3em;
   padding-top: 60px;
}

.primeira-imagem h2 {
   text-align: center;
   font-family: 'Fahkwang', sans-serif;
   color: #2c1e01;;
   font-size: 1.5em;
   padding-top: 20px;
}

.midias {
   display: block;
   align-items: center;
}

.midias img {
   padding: 5px;
   width: 50px;
   height: 50px;
}

#sobre,
#tratamentos {
   padding: 40px 20px 0;
}

.tudo-sobre {
   width: 100%;
   margin: 0 auto;
}

.sobre-clinica {
   font-family: 'Fahkwang', sans-serif;
   width: 100%;
   max-width: 760px;
   margin: 0 auto;
   padding: 10px;
}

.sobre-clinica h2 {
   text-align: center;
   padding-top: 40px;
}

.sobre-clinica p {
   margin: 15px 0px;
   text-align: justify;
   text-indent: 30px;
   line-height: 2em;
   font-size: 1em;
}

.sobre-encontrar {
   font-family: 'Fahkwang', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sobre-encontrar h3 {
   font-weight: 500;
   text-transform: uppercase;
   padding-bottom: 20px;
}

.sobre-encontrar img {
   height: 250px;
}

ul {
   list-style-type: '\2714\00a0\00a0';
   list-style-position: inside;
}

.lista {
   margin: 0 40px;
}

.tratamentos {
   padding-top: 40px;
   font-family: 'Fahkwang', sans-serif;
}

.container-conteudo {
   max-width: 600px;
   margin: 0 auto;
   text-align: center;
}

.box-especialidades {
   display: flex;
   flex-wrap: wrap;
}

.box-especialidade {
   border-radius: 3px;
   box-shadow: 0px 1px 10px rgb(0 0 0 /50%);
   margin: 20px;
   width: calc(100% / 3 - 40px);
}

.box-especialidade img {
   width: 100%;
}

.box-especialidade figcaption {
   text-align: center;
   padding: 10px;
   text-transform: uppercase;
}

.descricao {
   font-family: 'Fahkwang', sans-serif;
   text-align: justify;
   font-size: 0.8em;
   padding: 10px;
}

.equipe,
.historia {
   font-family: 'Fahkwang', sans-serif;
   width: 100%;
   max-width: 760px;
   margin: 0 auto;
   padding: 10px;
}

.equipe h2,
.historia h2 {
   text-align: center;
   padding-top: 40px;
}

.equipe p,
.historia p {
   margin: 15px 0px;
   text-align: justify;
   text-indent: 30px;
   line-height: 2em;
   font-size: 1em;
}

.equipe img {
   display: block;
   margin: auto;
}

picture {
   margin: 0 auto;
}

.missao-visao {
   font-family: 'Fahkwang', sans-serif;
   width: 100%;
   max-width: 760px;
   margin: 0 auto;
   padding: 10px;
}

.missao-visao h2 {
   text-align: center;
   padding-top: 40px;
}

.missao-visao p {
   margin: 15px 0px;
   text-align: justify;
   text-indent: 30px;
   line-height: 2em;
   font-size: 1em;
}

.localizacao {
   text-align: center;
   font-family: 'Fahkwang', sans-serif;
   font-size: 1.5em;
   padding: 40px;
}

footer {
   background-color: black;
   text-align: center;
   color: white;
   padding: 10px;
}

.criador {
   width: 100%;
   background-color: gray;
   padding: 5px 0px 5px 0px;
   font-size: 1em;
   margin: 0px;
}

/*BOTÃO RETORNAR AO TOPO*/
.topo {
   position: fixed;
   padding: 15px;
   background-color: #222;
   right: 0px;
   bottom: 40px;
   color: white;
   font-size: 1.5em;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
}

@media (max-width: 600px) {
   .primeira-imagem{
      height: 237px;
      background-image: url("imagens/faxada-pq.jpg");
      
   }

   .primeira-imagem h1{
      font-size: 1.5em;
      
      
   }

   .primeira-imagem h2{
      font-size: 1em;
      padding: 10px;
      
   }
   .sobre-encontrar img {
      display: none;
   }
   .box-especialidades {
      justify-content: center;

   }
   .box-especialidade {
      width: calc(100% / 2 - 40px);
   }

   .topo-links {
      width: 100%;
      justify-content: end;
   }

   .lista h3 {
      font-size: 1em;
      text-align: center;
      padding: 15px;
   }
}

@media (max-width: 425px) {
   .topo .container {
      flex-direction: column;
   }
   .topo-titulo {
      margin: 10px 0;
   }
   .topo-links {
      width: 100%;
      
      
   }
   .box-visao-geral {
      height: 200px;
   }
   .box-visao-geral h1 {
      font-size: 28px;
   }
   .box-especialidade {
      width: 100%;
   }

   .descricao {
      font-size: 0.5em;
   }
}
